<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Movie Production Database Project</h1>
    <h2>Home Page</h2>
    <div class="tiles-container">
        <a href="/view_all_tables" class="tiles">View all tables</a>
        <a href="/production_company" class="tiles">Production Company</a>
        <a href="/employee" class="tiles">Employee</a>
        <a href="/film" class="tiles">Film</a>
        <a href="/grant" class="tiles">Grant</a>
        <a href="/crew" class="tiles">Crew</a>
        <a href="/grantapplication" class="tiles">Grant Application</a>
        <a href="/ContactInformation" class="tiles">Contact Information</a>
    </div>
</body>
</html>
